$color-fondo: linear-gradient (90deg, rgba(3,10,62,1) 0%, rgba(104,110,142,1) 100%); 
$color-2:#3B426A; 
$color-3:#FFC99A; 

body{
    background-image: url(../img/fond.png); 
    background-size: cover;
}    
p{
    font-size: 12px;
}
.ft{
    margin-left: 30px;  
    padding: 10px;
    border-bottom: 2px solid  #030A3E ; 
  
} 
.ft:hover{
  border-bottom: 2px solid $color-3 ;
  color: white; 
 
}  
.h{  
  
    transition: .3s ease-in-out ;
}
.h:hover{
    scale: 1.2; 
    transition: .3s ease-in-out ;
}
ul{ 
    text-align: center; 
    display: flex;
    flex-flow: row wrap;  
    justify-content: center;  
    margin: 0; 
    padding: 0;

 li{
    list-style: none;    
    margin: 10px;
    a {
        text-decoration: none;
        color: white;  
        font-size: 15px;  
        transition: 0.2s  ease-in-out ;  
        border-bottom:  2px solid $color-fondo; 

    } 
 } 

} 
.btn-my{ 
    background-color: $color-3; 
    color: #030A3E;   
    text-align: center;
    padding-top: 5px; 
    padding-bottom: 5px;
    padding-left: 25px; 
    padding-right: 25px;  
    transition: 0.2s ease-in-out; 
    border-radius: 20px; 
    padding: 10px;
}
   
 
.btn-my:hover{
    background-color: rgb(56, 50, 93); 
    transition: 0.1s ease-in-out; 
    color: white; 
    border-radius: 5px;
}
 a{
  text-decoration: none; 
  color: #030A3E; 
}  
a:hover{
    color: #030A3E;
}

.container-s{
    position: relative; 
    width: 100%; 
   height: 30vh; 
   overflow: hidden; 
   margin: 0;
   padding: 0;  

}
.waves{
    position: absolute; 
    bottom: 0%;
    left: 0; 
    width: 100%;   
    height: 100px;
    background-image: url(../img/wave.png); 
    background-size: 1000px 100px; 
    animation: wave 10s  linear infinite; 
    border-bottom: 10px solid rgb(255, 255, 255);
} 
.waves1{
    position: absolute; 
    bottom: 60%;
    left: 0; 
    width: 100%;   
    height: 100px;
    background-image: url(../img/wave1.png); 
    background-size: 1000px 100px; 
    animation: wave1 15s  linear infinite; 
    border-top: 5px solid rgb(255, 255, 255);
}
@keyframes wave{
    0%{
        background-position-x:0;
    } 
    100%{
        background-position-x:1000px;
    } 
}  
@keyframes wave1{
    0%{
        background-position-x:0;
    } 
    100%{
        background-position-x:-1000px;
    } 
}  

.bg2{
    background-color: white; 
 
} 
.brand{
    max-width: 200px; 
   min-width: 100px;
}  


/*colab*/ 


  /*colab*/